<div class="bg-dark border-right p-3" id="sidebar">

  <div class="row">
    <div class="col-2">
      <svg  id="svg1"
        xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-files" width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M15 3v4a1 1 0 0 0 1 1h4" />
        <path d="M18 17h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h4l5 5v7a2 2 0 0 1 -2 2z" />
        <path d="M16 17v2a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h2" />
      </svg>
    </div>
    <div class="col mt-3 text-start">
      <h3 class="text-light text-center">Acciones</h3>
    </div>
  </div>
  <hr class="text-white">



  <div class=" list-group list-reset">
    <button
      routerLink="documentT"
      routerLinkActive="btnActive"
      class="list-group-item list-group-item-action">
      Tipo de Documento
    </button>
    <button
      routerLink="document"
      routerLinkActive="btnActive"
      class="list-group-item list-group-item-action">
      Documento
    </button>
    <button
      routerLink="tramite"
      routerLinkActive="btnActive"
      class="list-group-item list-group-item-action">
      Tramites
    </button>
  </div>

</div>
