#sidebar{
  height: calc(100vh - 99px);
}
#svg1, #svg2, #svg3, #svg4{
  transition:all;
  transition-duration: 1s;
}

#svg1:hover, #svg2:hover, #svg3:hover, #svg4:hover{
  transform-origin: center;
  transform: scale(1.2);
}


.btnActive{
  text-align: center;
  color: var(--gris-claro);
  font-weight: bold;
  background-color: var(--gris);
}

