<div>
  <form class="formulario text-center">
    <div class="d-flex justify-content-center">
      <div class="campo">
        <label>ID Empleado</label>
        <input id="txtId" class="input-text" type="text" placeholder="No. Control">
      </div>

      <div class="campo">
        <label>Last Name</label>
        <input id="txtLName" class="input-text" type="text" placeholder="Last Name">
      </div>

      <div class="campo">
        <label>Fist Name</label>
        <input id="txtFName" class="input-text" type="text" placeholder="Fist Name">
      </div>

      <div class="campo">
        <label>Title</label>
        <input id="txtTitle" class="input-text" type="text" placeholder="Puesto">
      </div>

    </div>
    <div class="mt-3 text-end">
      <button type="submit" class="btn btn-primary btn-lg">
        Agregar
      </button>
    </div>
  </form>
</div>
