<div>
  <form class="formulario text-center">
    <div class="d-flex justify-content-center">
      <div class="campo">
        <label>Nombre</label>
        <input id="txtname" class="input-text" type="text" placeholder="nombre" required>
      </div>

      <div class="campo">
        <label>Código</label>
        <input id="txtcode" class="input-text" type="number" placeholder="código" required>
      </div>

      <div class="campo">
        <label>Auditoria</label>
        <input id="txtFName" class="input-text" type="date"  pattern="\d{4}-\d{2}-\d{2}" placeholder="YYYY-MM-DD" required>
      </div>

      <div class="campo">
        <label>Activo</label>
        <select id="sltActiv">
          <option value="opcion1">True</option>
          <option value="opcion2">False</option>
        </select>

      </div>

    </div>
    <div class="mt-3 text-end">
      <button type="submit" class="btn btn-primary btn-lg">
        Agregar
      </button>
    </div>
  </form>
</div>
