
<div class="table-responsive table-responsive-sm text-center" id="contTable">
  <h4 >Agregados</h4>
  <hr>
  <table class="table border border-primary">
    <caption>tabla de documentos/Tramites</caption>
    <thead class="table-primary">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Código</th>
        <th scope="col">Auditoria</th>
        <th scope="col">Activo</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody class="table-secondary">
      <tr *ngFor="let doc of docs">
        <td>{{ doc.nombre }}</td>
        <td>{{ doc.codigo }}</td>
        <td>{{ doc.auditoria }}</td>
        <td>{{ doc.activo }}</td>
        <td>
          <button class="btn btn-success btn-lg" (click)="mostrarDatos(doc)">ver</button>
          <button class="btn btn-primary btn-lg">Editar</button>
          <button class="btn btn-danger btn-lg">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


